<%- include('../partials/header') %>
<h1>Add Classification</h1>

<% if (messages().length > 0) { %>
  <div class="flash-messages">
    <%- messages() %>
  </div>
<% } %>

<form action="/inv/add-classification" method="post">
  <label for="classificationName">Classification Name:</label>
  <input type="text" name="classification_name" id="classificationName" required pattern="^[A-Za-z0-9]+$">
  <button type="submit">Add Classification</button>
</form>